@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="vue_det">
      <div v-html="site"></div>
      <p v-if="seen">现在你看到我了</p>
      <p v-else>你现在看不到我了</p>
    @* <h1>site : {{site}}</h1>
    <h1>url : {{url}}</h1>
    <h1>{{details()}}</h1> *@
    <a type="button" v-on:click="sss()">改变</a>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#vue_det',
        data: {
            site: "菜鸟教程",
            url: "www.runoob.com",
            alexa: "10000",
            seen:false
        },
        methods: {
            details: function() {
                return  this.site + " - 学的不仅是技术，更是梦想！";
            },
            sss:function(){
                s=this.seen;
                if(s==true)this.seen=false;
                 if(s==false)this.seen=true;
              
            }
        }
    })
</script>
</body>
</html>