@model MyStudy.MVCDemo.Models.Movie
@{
    ViewData["Title"] = "编辑页";
}
<form method="POST">
<h2>编辑页</h2>
<p>ID：@Html.DisplayFor(model=>model.Id)</p>
<p>标题：@Html.EditorFor(model=>model.Title)</p>
<p>URL:@Html.EditorFor(model => model.Url)</p>
<p> @Html.EditorFor(model => model.Price)</p>
<p>@Html.EditorFor(model => model.ReleaseDate)</p>
 <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
 </div>
<div>
    @* <a asp-page="./Index">Back to List</a> *@
</div>
</form>
